/* Files Path Container */
.filesPath {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid black;
}

/* Breadcrumb (80% Width) */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    font-size: 0.9rem;
    color: #333;
    overflow-x: auto; /* Allow horizontal scrolling if content overflows */
    white-space: nowrap; /* Prevent text wrapping for overflow effect */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #aaa transparent;
}

/* WebKit Scrollbar Styling */
.breadcrumb::-webkit-scrollbar {
    height: 6px;
}
.breadcrumb::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 3px;
}
.breadcrumb::-webkit-scrollbar-track {
    background: transparent;
}

.breadcrumb-item {
    cursor: pointer;
    margin-right: 0.5rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb-item:hover {
    text-decoration: underline;
}

.separator {
    margin-right: 0.5rem;
    color: #555;
}

/* Actions (20% Width) */
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    grid-template-columns: 1fr 1fr; /* Two equal columns for div X and Y */
    gap: 8px; /* Consistent spacing */
}

/* Icon Styling */
.path-bar-icon {
    font-size: 2rem; /* Adjust size */
    margin-bottom: 0.5rem;
    color: #333;
    cursor: pointer;
    display: flex; /* Center content in X and Y */
    align-items: center;
    justify-content: center;
    height: 100%; /* Make them fill the grid cell */
}

.path-bar-icon:hover{
    font-size: 1.7rem;
    border: 1px solid #333;
    border-radius: 5px;
}


/* Responsive Design */
@media (max-width: 768px) {
    .breadcrumb {
        width: 50%;
    }
    
    /* Actions (20% Width) */
    .actions {
        width: 30%;
    }
}
